{% extends 'blog/base.html' %}

{% block title %}О нас{% endblock %}

{% block headtitle %}О нас{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="about post">
                <h2>Об авторе</h2>
                <p>
                    Меня зовут Юрий Истомин. Я программист, занимаюсь разработкой iOS-приложений, сайтов, изучаю информационные технологии, computer.
                    Я учусь в Санкт-Петербургском Университете ИТМО, интеллектуальные технологии в робототехнике. На данный момент я работаю над несколькими проектами, в числе которых является этот сайт.
                </p>
                <h2>О сайте</h2>
                <p>
                    Yuraist.com - это сайт, на котором вы сможете прочитать о программировании, разработке проектов, маркетинге, науке и многом другом.
                    Кроме того, вы можете лично внести свой вклад в жизнь этого проекта, поделившись им со знакомыми или друзьями, предложив интересные материалы или идеи.
                    Вы также можете участвовать в разработке работ, которые находятся на странице "Проекты". Комментируйте, помогайте развивать работы и развивайтесь сами!
                </p>
            </div>
        </div>
    </div>
{% endblock %}
