{% extends 'blog/base.html' %}

{% block title %}Yuraist | О нас{% endblock %}

{% block headtitle %}О нас{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="about post">
                <h2>О сайте</h2>
                <p>
                    Yuraist.com - это сайт, на котором вы сможете прочитать о программировании, разработке проектов, маркетинге, науке и многом другом.
                </p>
                <h2>Об авторе</h2>
                <p>
                    Меня зовут Юрий Истомин. Я программист, занимаюсь разработкой iOS-приложений и веб-сайтов, изучаю информационные технологии и компьютерные науки.
                    Я учусь в Санкт-Петербургском Университете ИТМО, специальность - интеллектуальные технологии в робототехнике. На данный момент я работаю над несколькими проектами, в числе которых сайт Yuraist.com.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
