{% extends 'blog/base.html' %}

{% block title %}Yuraist | О нас{% endblock %}

{% block headtitle %}О нас{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="about post">
                <h2>О сайте</h2>
                <p>
                    Yuraist.com - личный проект, который несет образовательные и ознакомительные цели.
                    Я разработал его как песочницу для различных экспериментов, для публикации собственных мыслей и различных идей.
                    Также здесь я публикую некоторые образовательные материалы и статьи. 
                </p>
            </div>
        </div>
    </div>
{% endblock %}
