{% extends 'blog/base.html' %}

{% block title %}Yuraist | Контакты{% endblock %}

{% block headtitle %}Контакты{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="contact about post">
                <p>
                    У вас есть какие-то вопросы или предложения? Ниже вы можете видеть ссылки на профили в социальных сетях, которые также являются способом связи с автором:
                </p>
                <ul>
                    <li>
                        <a href="https://vk.com/yuraist" target="_blank">VK</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/yuraist" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://instagram.com/yuraist" target="_blank">Instagram</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/yura.istomin" target="_blank">Facebook</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
{% endblock %}