{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="post">
                {% if user.is_authenticated %}
                    <h2 class="bar-title left-title">ВЫ УСПЕШНО ЗАРЕГИСТРИРОВАНЫ</h2>
                    <div class="sidebar-line"></div>
                {% else %}
                    {% if error_message %}
                        <h2 class="bar-title left-title">{{ error_message }}</h2>
                        <div class="sidebar-line"></div>
                    {% endif %}
                    <h2 class="bar-title left-title">РЕГИСТРАЦИЯ</h2>
                    <div class="sidebar-line"></div>
                    <form action="/registration/" method="post">
                        {% csrf_token %}
                        <input type="text" name="first_name" placeholder="First Name" class="full-width">
                        <input type="text" name="last_name" placeholder="Last Name" class="full-width">
                        <input type="text" name="username" placeholder="Username" class="full-width">
                        <input type="text" name="email" placeholder="Email" class="full-width">
                        <input type="password" name="password" placeholder="Password" class="full-width">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" name="login" id="login">Зарегистрироваться</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" name="register" id="register" onclick="location.href='/login'">Войти</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}